*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(135, 83, 24, 0.457);
    margin: 5px;
}
.con{
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.057);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.card{
  padding: 2px 5px;
  border-left: 2px solid rgba(0, 0, 0, 0.765);
  border-radius: 5px;
  width: 100px;
  text-align: center;
  background: rgba(255, 255, 255, 0.515);
  color:black;
  margin: 10px;
  
}
.fk{
    text-align: left;
    margin-bottom: 3px;
}
.fk span{
    color: rgba(0, 0, 0, 0.591);
}

input{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.649);
    padding: 2px;
}
button{
    background: rgba(255, 255, 255, 0.53);
    border: 1px solid;
    padding: 1px 2px;
    border-radius: 5px;
    margin: 3px;
 }